*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: hue-rotate(300deg);
}
a{
  color: purple;
  font-size: medium;
}